body {
    background-color: #ffffff;
    background-image: url(https://sirio-network.com/sbin/default-bgr.jpg) !important;
    background-size: 100vw !important;
    background-position-x: 0vw;
    animation: SNDL-Default_BGR 2s linear infinite !important;
}

@keyframes SNDL-Default_BGR {
    0% { background-position-x: 0vw;}
    100% { background-position-x: 100vw;}
}
